{% extends 'base_generic.html' %}

{% load static %}

{% block content %}

    {% if sms_authentication_failed %}
        <div class="loginErrorMessageDiv">短信验证失败。请您确认您填写的手机号码，然后再获取一个新的验证码试一次。如您需要帮助，请联系我们。</div>
    {% endif %}

    {% if form.errors %}
        {% for key,value in form.errors.items %} 
            <div class="loginErrorMessageDiv">{{ value }}</div>
        {% endfor %}
    {% endif %}

    <div id="signupFormWrapper">
        <div id="loginFormCardTitle" class="d-flex justify-content-center align-items-center">
            <div></div>
        </div>
        <form class="loginForm" method="post" action="{% url 'activate_new_user' token=token_hex_str %}">
        {% csrf_token %}
            <div class="studentInfoItem" id="signupMobile">
              <span>手机号码： </span>{{ mobile }}
            </div>
            <input id='id_username' name='username' type='hidden' value='{{mobile}}'>
            <div class="loginInputDiv" id="password1InputDiv">
              <label for="{{ form.password1.id_for_label }}">密码 </label>{{ form.password1 }}
            </div>
            <div class="loginInputDiv" id="password2InputDiv">
              <label for="{{ form.password2.id_for_label }}">确认密码 </label>{{ form.password2 }}
            </div>
            <div class="loginInputDiv" id="smsVerificationCodeDiv">
              <label for="{{ form.verification_code.id_for_label }}">短信验证码 </label>{{ form.verification_code }}<div id="smsBtn">获取验证码</div>
            </div>
            <div>
              <button type="submit" class="loginPageButton">确认</button>
            </div>
        </form>
        <div id="loginFormLinktoSignup" class="d-flex justify-content-center align-items-center">
            <div>已经有账号？<a href="{% url 'login'%}"><span>立即登录</span></a></div>
        </div>
    </div>

{% endblock %}

{% block body-internal-js %}
    <script>var for_signup_django = true;</script>
    <script>var token_django = '{{token_hex_str}}';</script>
    <script src="{% static 'sms/scripts/signup_v3.js' %}"></script>
{% endblock body-internal-js %}

