{% extends 'base_generic.html' %}

{% load static %}

{% block content %}

    {% if sms_authentication_failed %}
        <div class="loginErrorMessageDiv">密码变更失败，请再试一次。如您需要帮助，请联系我们。</div>
    {% endif %}

    {% if form.errors %}
        {% for key,value in form.errors.items %} 
            <div class="loginErrorMessageDiv">{{ value }}</div>
        {% endfor %}
    {% endif %}

    <div id="signupFormWrapper">
        <div id="loginFormCardTitle" class="d-flex justify-content-center align-items-center">
            <div></div>
        </div>
        <form class="loginForm" method="post" action="{% url 'reset_password' %}">
        {% csrf_token %}
            <div class="loginInputDiv" id="password1InputDiv">
              <label for="{{ form.new_password1.id_for_label }}">密码 </label>{{ form.new_password1 }}
            </div>
            <div class="loginInputDiv" id="password2InputDiv">
              <label for="{{ form.new_password2.id_for_label }}">确认密码 </label>{{ form.new_password2 }}
            </div>
            <div>
              <button type="submit" class="loginPageButton">提交</button>
            </div>
        </form>
        <div id="loginFormLinktoSignup" class="d-flex justify-content-center align-items-center">
        </div>
    </div>

{% endblock %}