{% extends "base_lecture.html" %}

{% load static %}

{% csrf_token %}

{% block content %}
  <div id="exerciseArea">
      <div id="uploadBox" class="container-md mt-5">
        <div id="instructionsBox">
            <p>请完成上一节课的作业，然后拍照上传。</p>
            <p>最多可以上传<span style="color:red;">8</span>张照片。</p>
            <p>老师会在一周内批改作业，批改好的作业会上传到此页。</p>
        </div>
      </div>
    <div class="bottomBufferDiv"></div>
    <div class="" id="nextButtonBox">
        {% if next_lesson_type == 'VIDEO' %}
        <a href="{% url 'video' slug=course_slug uuid=next_lesson_id %}"><button class="nextLecture">Next</button></a>
        {% elif next_lesson_type == 'QUIZ' %}
        <a href="{% url 'quiz' slug=course_slug uuid=next_lesson_id %}"><button class="nextLecture">Next</button></a>
        {% elif next_lesson_type == 'ASSIGNMENT' %}
        <a href="{% url 'assignment' slug=course_slug uuid=next_lesson_id %}"><button class="nextLecture">Next</button></a>
        {% elif next_lesson_type == 'NONE' %}
        <a href="{% url 'class' slug=course_slug %}"><button class="nextLecture">Home</button></a>
        {% endif %}
    </div>
    <div class="bottomBufferDiv"></div>
  </div>
{% endblock content %}

{% block body-internal-js %}
        {{ assignment_details_dict|json_script:"assignment_details_dict" }}
        <script>
            let assignment_details = JSON.parse(document.getElementById('assignment_details_dict').textContent);
        </script>

        {% if assignment_submitted %}
          {{ submitted_assignment_details_dict|json_script:"submitted_assignment_details_dict" }}
          <script>
            let submitted_assignment_details = JSON.parse(document.getElementById('submitted_assignment_details_dict').textContent);
            let assignment_submitted = true;
          </script>
        {% else %}
          <script>
            let assignment_submitted = false;
            let course_slug = "{{course_slug}}";
          </script>
        {% endif %}

        <script>let lesson_js_signal = "ASSIGNMENT";</script>
        <script>
          let lesson_id = "{{lesson_id}}";
        </script>
        {{block.super}}
{% endblock body-internal-js %}
