{% extends "base_generic.html" %}

{% load static %}

{% block content %}
<section id=courseCardsSection>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="mycard-deck">
                  <div class="card">
                    <div class="imageOverlayColorWrapper">
                        <img class="card-img-top img-fluid" src="{% static 'gnw/assets/img/courses/coursecoverimg9.jpg' %}" alt="">
                        <div id="courseOneOverlay"></div>
                    </div>
                    <div class="card-body">
                      <h2 class="card-title">美国小学一年级语法精讲(1)</h2>
                      <p class="card-text">美国一年级学生必须掌握的英语语法知识。围绕10个重要知识点，包括背景知识，互动练习，延伸应用。美国资深小学老师趣味精讲。</p>
                      <p class="card-teacher-info">老师：Saralyn，美国密苏里州公立小学老师</p>
                      <p class="card-teacher-info">教学经验(年)：15+</p>
                    </div>
                    <div class="card-footer bg-white">
                      <a href="#" class="myLinkBtn coverCurriculumButton courseBtn">了解详情</a>
                    </div>
                  </div>
                  <div class="card">
                    <div class="imageOverlayColorWrapper">
                        <img class="card-img-top img-fluid" src="{% static 'gnw/assets/img/courses/coursecoverimg1.jpg' %}" alt="">
                        <div id="courseTwoOverlay"></div>
                    </div>
                    <div class="card-body">
                      <h2 class="card-title">美国小学一年级语法精讲(2)</h2>
                      <p class="card-text">美国一年级学生必须掌握的英语语法知识。围绕8个重要知识点，包括背景知识，互动练习，延伸应用。美国资深小学老师趣味精讲。</p>
                      <p class="card-teacher-info">老师：Saralyn，美国密苏里州公立小学老师</p>
                      <p class="card-teacher-info">教学经验(年)：15+</p>
                    </div>
                    <div class="card-footer bg-white">
                      <a href="#" class="myLinkBtn coverCurriculumButton courseBtn">了解详情</a>
                    </div>
                  </div>
                  <div class="card">
                    <div class="imageOverlayColorWrapper">
                        <img class="card-img-top img-fluid" src="{% static 'gnw/assets/img/courses/coursecoverimg2.jpg' %}" alt="">
                        <div id="courseThreeOverlay"></div>
                    </div>
                    <div class="card-body">
                      <h2 class="card-title">美国小学一年级语法精讲(3)</h2>
                      <p class="card-text">美国一年级学生必须掌握的英语语法知识。围绕11个重要知识点，包括背景知识，互动练习，延伸应用。美国资深小学老师趣味精讲。</p>
                      <p class="card-teacher-info">老师：Saralyn，美国密苏里州公立小学老师</p>
                      <p class="card-teacher-info">教学经验(年)：15+</p>
                    </div>
                    <div class="card-footer bg-white">
                      <a href="#" class="myLinkBtn coverCurriculumButton courseBtn">了解详情</a>
                    </div>
                  </div>
                  <div class="card">
                    <div class="imageOverlayColorWrapper">
                        <img class="card-img-top img-fluid" src="{% static 'gnw/assets/img/courses/coursecoverimg3.jpg' %}" alt="">
                        <div id="courseFourOverlay"></div>
                    </div>
                    <div class="card-body">
                      <h2 class="card-title">美国小学一年级深度阅读能力(1)</h2>
                      <p class="card-text">美国一年级学生必须掌握的阅读技能。美国资深小学老师趣味精讲。</p>
                      <p class="card-teacher-info">老师：Saralyn，美国密苏里州公立小学老师</p>
                      <p class="card-teacher-info">教学经验(年)：15+</p>
                    </div>
                    <div class="card-footer bg-white">
                      <a href="#" class="myLinkBtn coverCurriculumButton courseBtn">了解详情</a>
                    </div>
                  </div>
                  <div class="card">
                    <div class="imageOverlayColorWrapper">
                        <img class="card-img-top img-fluid" src="{% static 'gnw/assets/img/courses/coursecoverimg4.jpg' %}" alt="">
                        <div id="courseFiveOverlay"></div>
                    </div>
                    <div class="card-body">
                      <h2 class="card-title">美国小学一年级深度阅读能力(2)</h2>
                      <p class="card-text">美国一年级学生必须掌握的阅读技能。美国资深小学老师趣味精讲。</p>
                      <p class="card-teacher-info">老师：Saralyn，美国密苏里州公立小学老师</p>
                      <p class="card-teacher-info">教学经验(年)：15+</p>
                    </div>
                    <div class="card-footer bg-white">
                      <a href="#" class="myLinkBtn coverCurriculumButton courseBtn">了解详情</a>
                    </div>
                  </div>
                  <div class="card">
                    <div class="imageOverlayColorWrapper">
                        <img class="card-img-top img-fluid" src="{% static 'gnw/assets/img/courses/coursecoverimg5.jpg' %}" alt="">
                        <div id="courseSixOverlay"></div>
                    </div>
                    <div class="card-body">
                      <h2 class="card-title">美国小学一年级深度阅读能力(3)</h2>
                      <p class="card-text">美国一年级学生必须掌握的阅读技能。美国资深小学老师趣味精讲。</p>
                      <p class="card-teacher-info">老师：Saralyn，美国密苏里州公立小学老师</p>
                      <p class="card-teacher-info">教学经验(年)：15+</p>
                    </div>
                    <div class="card-footer bg-white">
                      <a href="#" class="myLinkBtn coverCurriculumButton courseBtn">了解详情</a>
                    </div>
                  </div>
                  <div class="card">
                    <div class="imageOverlayColorWrapper">
                        <img class="card-img-top img-fluid" src="{% static 'gnw/assets/img/courses/coursecoverimg6.jpg' %}" alt="">
                        <div id="courseThreeOverlay"></div>
                    </div>
                    <div class="card-body">
                      <h2 class="card-title">美国小学一年级写作(1)</h2>
                      <p class="card-text">美国一年级学生必须掌握的写作技能。美国资深小学老师趣味精讲。</p>
                      <p class="card-teacher-info">老师：Sue，美国密苏里州公立小学老师</p>
                      <p class="card-teacher-info">教学经验(年)：17+</p>
                    </div>
                    <div class="card-footer bg-white">
                      <a href="#" class="myLinkBtn coverCurriculumButton courseBtn">了解详情</a>
                    </div>
                  </div>
                  <div class="card">
                    <div class="imageOverlayColorWrapper">
                        <img class="card-img-top img-fluid" src="{% static 'gnw/assets/img/courses/coursecoverimg7.jpg' %}" alt="">
                        <div id="courseTwoOverlay"></div>
                    </div>
                    <div class="card-body">
                      <h2 class="card-title">美国小学一年级写作(2)</h2>
                      <p class="card-text">美国一年级学生必须掌握的写作技能。美国资深小学老师趣味精讲。</p>
                      <p class="card-teacher-info">老师：Sue，美国密苏里州公立小学老师</p>
                      <p class="card-teacher-info">教学经验(年)：17+</p>
                    </div>
                    <div class="card-footer bg-white">
                      <a href="#" class="myLinkBtn coverCurriculumButton courseBtn">了解详情</a>
                    </div>
                  </div>
                  <div class="card">
                    <div class="imageOverlayColorWrapper">
                        <img class="card-img-top img-fluid" src="{% static 'gnw/assets/img/courses/coursecoverimg8.jpg' %}" alt="">
                        <div id="courseOneOverlay"></div>
                    </div>
                    <div class="card-body">
                      <h2 class="card-title">美国小学一年级写作(3)</h2>
                      <p class="card-text">美国一年级学生必须掌握的写作技能。美国资深小学老师趣味精讲。</p>
                      <p class="card-teacher-info">老师：Sue，美国密苏里州公立小学老师</p>
                      <p class="card-teacher-info">教学经验(年)：17+</p>
                    </div>
                    <div class="card-footer bg-white">
                      <a href="#" class="myLinkBtn coverCurriculumButton courseBtn">了解详情</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}