{% extends "base_generic.html" %}

{% load static %}

{% block content %}

<div id="coverImageContainer">
    <img src="{% static 'gnw/assets/img/frontpagecoverimg.jpg' %}" class="img-fluid">
    <div id="boxOverCoverImage">
        <p id="coverTextTitle">美国小学语法、写作、思维课</p>
        <p class="coverText">美国小学内容，适合中国学生的教学方法。</p>
        <p class="coverText">教科书和原版读物背后的深度英语技能。</p>
        <a href="{% url 'courses_main_page' %}" class="myLinkBtn coverCurriculumButton frontPageBtn">我们的课程</a>
    </div>
</div>

<section id="threeIconsRow">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <figure class="threeIconsRowFigure">
                    <img src="{% static 'gnw/assets/img/frontpagegrammarimg.svg' %}">
                    <figcaption>语法</figcaption>
                </figure>
            </div>
            <div class="col-sm-4">
                <figure class="threeIconsRowFigure">
                    <img src="{% static 'gnw/assets/img/frontpagewritingimg.svg' %}">
                    <figcaption>写作</figcaption>
                </figure>
            </div>
            <div class="col-sm-4">
                <figure class="threeIconsRowFigure">
                    <img src="{% static 'gnw/assets/img/frontpagethinkingimg.svg' %}">
                    <figcaption>思维</figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="frontPageBlockText" id="frontPageBlockTextOne">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="rowTextIcon">
                    <img src="{% static 'gnw/assets/img/frontpageknowledgeimg.svg' %}">
                </div>
            </div>
            <div class="col-md-10">
                <p class="blockTextTitle">教科书和原版读物背后的深度英语技能</p>
                <p class="blockTextBody">对缺乏语言环境的中国孩子来说，要从消极理解到积极并正确地使用英语，除了大量输入，还必须将课本和原版读物所要教的语言和思维技能挖掘、提炼出来，系统地学习和巩固，才能发展出接近英语国家同龄学生的语感和主动使用的能力。</p>
            </div>
        </div>
    </div>
</section>

<section class="frontPageBlockText" id="frontPageBlockTextTwo">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="rowTextIcon">
                    <img src="{% static 'gnw/assets/img/frontpageteachimg.svg' %}">
                </div>
            </div>
            <div class="col-md-10">
                <p class="blockTextTitle">美国小学内容，适合中国孩子的教学方法</p>
                <p class="blockTextBody">课程围绕美国共同核心标准((Common Core State Standards))里语法和写作部分重要的知识点，用 scaffolding 和 visualization 等教学方法，填充每一个知识点所需要的背景知识，层层递进，最终达到让学生掌握和熟练使用的目的。</p>
            </div>
        </div>
    </div>
</section>

<section class="frontPageBlockText" id="frontPageBlockTextThree">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="blockTextTitle">试听我们的课程</p>
                <a class="myLinkBtn coverCurriculumButton" href="{% url 'signup'%}">免费注册</a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}