{% extends "base_generic.html" %}

{% load static %}

{% block content %}

<div id="coverImageContainer">
    <img src="{% static 'gnw/img/frontpagecoverimg.jpg' %}" class="img-fluid">
    <div id="boxOverCoverImage">
        <p id="coverTextTitle" class="mb-3">思惟、写作、逻辑课</p>
        <a href="{% url 'panel'%}" class="myLinkBtn coverCurriculumButton frontPageBtn">去上课</a>
    </div>
</div>

<section id="threeIconsRow">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <figure class="threeIconsRowFigure">
                    <img src="{% static 'gnw/img/frontpagegrammarimg.svg' %}">
                    <figcaption>思惟</figcaption>
                </figure>
            </div>
            <div class="col-sm-4">
                <figure class="threeIconsRowFigure">
                    <img src="{% static 'gnw/img/frontpagewritingimg.svg' %}">
                    <figcaption>写作</figcaption>
                </figure>
            </div>
            <div class="col-sm-4">
                <figure class="threeIconsRowFigure">
                    <img src="{% static 'gnw/img/frontpagethinkingimg.svg' %}">
                    <figcaption>逻辑</figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block body-internal-js %}{% endblock body-internal-js %}