{% extends "base_lecture.html" %}

{% load static %}

{% block exercise %}
    <div id="videoBox">
        <video id="myvideo" controls preload="auto">
            {% with 'gnw/assets/video/'|add:file_name as video_file_url %}
            <source src="{% static video_file_url %}" type="video/mp4">
            {% endwith %}
        </video>
        <div class="" id="exerciseBox">
            <div id="selectionsBox">
                <span>singular</span><span>plural</span>
            </div>
            <button class="checkAnswer notActive">Submit</button>
        </div>
        <div class="" id="nextButtonBox">
            <button class="nextLecture">Next</button>
        </div>
    </div>
    <div id="wrongAnswerFeedback">
        <div id="wrongAnswerHintBox">
            <p>Not quite!</p>
            <p>One = singular.</p>
            <p>More than one = plural.</p>
            <p>Try again.</p>
        </div>
        <button class="wrongAnswerButton">OK</button>
    </div>
    <div id="rightAnswerFeedback">
        <img src="{% static 'gnw/assets/img/check.png' %}">
    </div>
{% endblock exercise %}

{% block js %}
        <script>var uuid_django = "{{uuid}}"</script>
        <script>var next_url_django = "{{next_url}}"</script>
        <script>var next_uuid_django = "{{next_uuid}}"</script>
        <script>var course_url_django = "{{course_url}}"</script>
        <script src="{% static 'gnw/assets/scripts/videojs_v2_11.js' %}"></script>
{% endblock js %}
