{% extends "base_generic.html" %}

{% load static %}

{% block content %}

{% if messages %}
    <div class="modal" id="firstVisitModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">飞猫星球</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              {% for message in messages %}
                <p>{{message}}</p>
              {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>
{% endif %}

<section id="enrolledClassesHeadingSection">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div id="enrolledClassesHeading">我的课程：</div>
            </div>
        </div>
    </div>
</section>
<section id="enrolledClassesContainerSection">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="mycard-deck panelCardDeck">
                  {% for class in enrolled_classes %}
                      <div class="card">
                        <div class="imageOverlayColorWrapper">
                            {% static 'gnw/assets/img/courses/coursecoverimg9.jpg' as cover_photo%}
                            <img class="card-img-top img-fluid" src="{{cover_photo}}" alt="">
                            <div id="courseOneOverlay"></div>
                        </div>
                        <div class="card-body">
                          <h2 class="card-title">{{class.course.course_name}}</h2>
                        </div>
                        <div class="card-footer bg-white">
                          <a href="{% url 'class' slug=class.course.slug %}" class="myLinkBtn coverCurriculumButton courseBtn">进入课堂</a>
                        </div>
                      </div>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}

{% block body-internal-js %}

  {% if messages %}
      <script>
          $(document).ready(function(){
              $("#firstVisitModal").modal('show');
          });
      </script>
  {% endif %}

{% endblock body-internal-js %}
