{% extends "base_generic.html" %}

{% load static %}

{% block content %}

{% if messages %}
    <div class="modal" id="firstVisitModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">飞猫星球</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              {% for message in messages %}
                <p>{{message}}</p>
              {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>
{% endif %}

<section id="enrolledClassesHeadingSection">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div id="enrolledClassesHeading">我的课程：</div>
            </div>
        </div>
    </div>
</section>
<section id="enrolledClassesContainerSection">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
              <div class="mycard-deck">
                  {% for class in enrolled_classes %}
                  <a href="{% url 'class' slug=class.course.slug %}">
                      <div class="card mb-3">
                        <div class="row no-gutters">
                          <div class="col-3 bg-light">
                            {% if class.course.course_name|upper == "SYLLOGISM 1" %}
                              <img class="img-fluid" src="{% static 'gnw/assets/img/venn_diagram.svg' %}">
                            {% elif class.course.course_name|upper == "LOGIC 101" %}
                              <img class="img-fluid" src="{% static 'gnw/assets/img/venn_diagram.svg' %}">
                            {% elif class.course.course_name|upper == "LOGICAL FALLACIES: STRAW MAN" %}
                              <img class="img-fluid" src="{% static 'gnw/assets/img/venn_diagram.svg' %}">
                            {% endif %}
                          </div>
                          <div class="col-9">
                            <div class="card-description">
                              <span class="mycard-title">{{ class.course.course_name }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  {% endfor %}
              </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}

{% block body-internal-js %}

  {% if messages %}
      <script>
          $(document).ready(function(){
              $("#firstVisitModal").modal('show');
          });
      </script>
  {% endif %}

{% endblock body-internal-js %}
