{% extends "base_lecture.html" %}

{% load static %}

{% csrf_token %}

{% block content %}
  <div id="exerciseArea">
    <div class="bottomBufferDiv"></div>
    <div class="" id="nextButtonBox">
        {% if next_lesson_type == 'VIDEO' %}
            <a href="{% url 'video' slug=course_slug uuid=next_lesson_id %}"><button class="nextLecture">Next</button></a>
        {% elif next_lesson_type == 'QUIZ' %}
            <a href="{% url 'quiz' slug=course_slug uuid=next_lesson_id %}"><button class="nextLecture">Next</button></a>
        {% elif next_lesson_type == 'NONE' %}
            <a href="{% url 'class' slug=course_slug %}"><button class="nextLecture">Home</button></a>
        {% endif %}
    </div>
    <div class="bottomBufferDiv"></div>
  </div>
{% endblock content %}

{% block body-internal-js %}
        {{ quiz_questions_dict|json_script:"quiz_questions_dict" }}
        <script>
            let quiz_questions = JSON.parse(document.getElementById('quiz_questions_dict').textContent);
        </script>
        <script>let lesson_js_signal = "QUIZ";</script>
        <script>
          let img_url = "{% static img_url %}";
          let audio_url = "{% static audio_url %}";
          let lesson_id = "{{lesson_id}}";
        </script>
        {{block.super}}
{% endblock body-internal-js %}
