{% extends 'base_generic.html' %}

{% block content %}

{% if messages %}
    <div class="modal" id="infoUpdatedModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">飞猫星球</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              {% for message in messages %}
                <p>{{message}}</p>
              {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>
{% endif %}

    <div id="signupFormWrapper">
        <div id="loginFormCardTitle" class="d-flex justify-content-center align-items-center">
            <div>我的信息</div>
        </div>
        <div class="loginForm">
            {% if is_student %}
                <div class="studentInfoItem">
                  <span>注册手机： </span>{{ mobile }}
                </div>
            {% else %}
                <div class="studentInfoItem">
                  <span>用户名： </span>{{ username }}
                </div>
            {% endif %}
            <div class="studentInfoItem">
              <span>家长名字： </span>{{ parent_name }}
            </div>
            <div class="studentInfoItem">
              <span>孩子名字： </span>{{ student_name }}
            </div>
            <div class="studentInfoItem">
              <span>孩子生日： </span>{{ student_birth_date }}
            </div>
            <div class="studentInfoItem">
              <span>孩子性别： </span>{{ student_gender }}
            </div>
            <div class="studentInfoItem" id="lastStudentInfoItem">
              <span>所在城市： </span>{{ city }}
            </div>
        </div>
        <div id="loginFormLinktoSignup" class="d-flex justify-content-center align-items-center">
            <div><a href="{% url 'update_student_info'%}"><span>更改信息</span></a></div>
        </div>
    </div>

{% endblock %}

{% block body-internal-js %}

  {% if messages %}
      <script>
          $(document).ready(function(){
              $("#infoUpdatedModal").modal('show');
          });
      </script>
  {% endif %}

{% endblock body-internal-js %}