{% extends "base.html" %}

        {% block pushWrapper-top %}
            <div class="pushWrapper"> {# this is needed for pushing down the footer #}
        {% endblock pushWrapper-top %} 
            
        {% block navbar %}
                <nav class="navbar navbar-expand-sm navbar-light nav-fill sticky-top">
                    <div class="container">
                        <a href="{% url 'index'%}" class="navbar-brand">飞猫星球</a>
                        <button class="navbar-toggler" data-toggle="collapse" data-target="#navNavbar"><span class="navbar-toggler-icon"></span></button>
                        <div class=" collapse navbar-collapse" id="navNavbar">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a href="{% url 'index'%}" class="nav-link first-nav-link">首页</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">课程</a>
                                </li> 
                                {% if user.is_authenticated %}
                                    <li class="nav-item">
                                        <a href="{% url 'panel'%}" class="nav-link">我的教室</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                            <i class="fas fa-user"></i>
                                        </a>
                                        <div class="dropdown-menu">
                                            <a href="{% url 'show_my_info'%}" class="dropdown-item">
                                                <i class="fas fa-user-circle fa-lg"></i> 我的信息
                                            </a>
                                            <a href="{% url 'logout'%}" class="dropdown-item">
                                                <i class="fas fa-sign-out-alt fa-lg"></i> 退出登录
                                            </a>
                                        </div>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a href="{% url 'login'%}" class="nav-link login">登录</a>
                                    </li> 
                                    <li class="nav-item">
                                        <a href="{% url 'signup'%}" class="nav-link signup">注册</a>
                                    </li> 
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
        {% endblock navbar %}
        
        {% block content %}{% endblock content %}

            
        {% block pushWrapper-bottom %}
                <div class="push"></div> {# these 2 lines are needed for pushing down the footer #}
            </div>
        {% endblock pushWrapper-bottom %}
        
        {% block footer %}
                <footer>
                    <div class="footerBox">
                        <span class="footerTextItem"><a href="#">联系我们</a></span>
                        <span>&nbsp;</span>
                        <span class="footerTextItem"><a href="#">关于我们</a></span>
                    </div>
                    <div  class="footerBox">Copyright 2018 © 飞猫学堂 | 沪ICP备：xxxxxxxx号</div>
                </footer>
        {% endblock footer %}
        
        {% block body-internal-js %}
            {{block.super}}
        {% endblock body-internal-js %}