<!DOCTYPE html>

{% block html-open %}
    <html lang="en">
{% endblock html-open %}

{% load static %}

    {% block head-open %}
        <head>
    {% endblock head-open %}
        
      {% block title %}
            <title>飞猫星球</title>
      {% endblock title %}
        
      {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      {% endblock meta %}
      
      {% block favicon %}
            <link rel="shortcut icon" href="{% static 'gnw/assets/img/favicon.ico' %}">
      {% endblock favicon %}
        
      {% block head-external-CSS %}
            <link href="{% static 'gnw/assets/style/bootstrap.min.css' %}" rel="stylesheet"> {# version 4.6.0 #}
      {% endblock head-external-CSS %}
        
      {% block head-external-JS %}
            <script defer src="{% static 'gnw/assets/scripts/all.min.js' %}"></script> {# font-awesome icons #}
      {% endblock head-external-JS %}
        
      {% block head-internal-css %}
            <link href="{% static 'gnw/assets/style/css_main_v3_37.css' %}" rel="stylesheet">
      {% endblock head-internal-css %}
    
        </head>

    {% block body-open %}
        <body>
    {% endblock body-open %}  

        {% block pushWrapper-top %}{% endblock pushWrapper-top %} 

        {% block navbar %}{% endblock navbar %}
        
        {% block content %}{% endblock content %}

        {% block pushWrapper-bottom %}{% endblock pushWrapper-bottom %}
            
        {% block footer %}{% endblock footer %}

        {% block body-external-JS %} 
                <script src="{% static 'gnw/assets/scripts/jquery-3.6.0.min.js' %}"></script>
                <script defer src="{% static 'gnw/assets/scripts/bootstrap.bundle.min.js' %}"></script> {# version 4.6.0 #}
        {% endblock body-external-JS %}
        
        {% block body-internal-js %}
                <script src="{% static 'gnw/assets/scripts/lesson_v1_8.js' %}"></script>
        {% endblock body-internal-js %}

        </body>
</html>