{% extends "base.html" %}

    {% block body-open %}
      <body class="lectureBody">
    {% endblock body-open %}

        {% block pushWrapper-top %}{% endblock pushWrapper-top %} 
            
        {% block navbar %}
          <nav class="navbar navbar-expand-sm navbar-light nav-fill sticky-top py-0">
            <div class="container">
                <a href="{% url 'class' slug=course_slug %}" class="navbar-brand py-0"><i class="fas fa-home"></i></a>
            </div>
          </nav>
        {% endblock navbar %}
        
        {% block content %}{% endblock content %}

        {% block pushWrapper-bottom %}{% endblock pushWrapper-bottom %}
        
        {% block footer %}{% endblock footer %}
        
        {% block body-internal-js %}
          {{block.super}}
        {% endblock body-internal-js %}